/* Large DESKTOP
========================================================================== */
@media screen and (min-width:1366px) and (max-width:1920px) {
   
}
/* Small DESKOTOP
========================================================================== */
@media screen and (min-width:1024px) and (max-width:1365px) {
    .aboutusbox__head {
       float: none !important;
   }
   .aboutusbox__icon{
       float: none !important;
   }
   .aboutus {
        margin: 50px auto;
    }
    .aboutusbox__head {
        text-indent: 0px;
    }
    .aboutusbox {
        text-align: center;
            margin: 0 auto;
    width: 50%;
    }
    .hover {
        display: none;
    }
}
/* TABLETS/Small DESKTOP
========================================================================== */
@media screen and (min-width:768px) and (max-width:1023px) {
       .hover {
        display: none;
    }
   .item {
        width: 70%;
        margin: 170px auto;
        text-align: center;
   }
    .aboutusbox__head {
       float: none !important;
   }
   .aboutusbox__icon{
       float: none !important;
   }
   .aboutus {
        margin: 50px auto;
    }
    .aboutusbox__head {
        text-indent: 0px;
    }
    .aboutusbox {
        text-align: center;
            margin: 0 auto;
    width: 50%;
    }
     .images__section--item {
            float: none !important;
        margin: 10px auto;
        text-align: center;
        max-width: 80%;
    }
    .images__section {
        float:none !important;
        text-align: center;
    }
}
/* TABLETS
========================================================================== */
@media screen and (min-width:480px) and (max-width:767px) {
   .item {
       margin: 0 auto;
       width: 100%;
   }
   .aboutusbox__head {
       text-indent: 0px;
   }
   .aboutus {
       margin: 10px auto;
       text-align: center;
   }
   .aboutusbox__head {
       float: none !important;
   }
   .aboutusbox__icon{
       float: none !important;
   }
   .slidersection {
       height: auto;
   }
   .hover {
           height: 11%;
   }
   .images__section:hover .hover {
           width: 97%;
   }
   .morebutton {
       margin: 25px auto 10px;
   }
    .hover {
        display: none;
    }
     .images__section {
        float:none !important;
        text-align: center;
    }
    .toch__item--email, .toch__item--text, .toch__item--textarea {
            width: 90%;
    }
    .menuSection {
        float: none;
        text-align: center;
        margin: 85px auto 0;
        width: 100%;
   }
   .menuSection .nav {
       display: block !important;
   }
   .nav__list--item:hover {
       background: #ff9800;
       border-radius: 10px;
       color: #fff;
   }
   .navbar-nav>li>a:hover{
       color: #fff;
   }
    .logo__item {
       text-align: center;
       margin: 15px auto;
       display: block;
   }
      .logo {
       width: 100%;
   }
   .stext__head {
       font-size: 21px;
   }
   .stext__button {
       height: auto;
           margin-top: 55px;
    margin-bottom: 10px;
   }
}
/* SMARTFONES
========================================================================== */
@media screen and (min-width:240px) and (max-width:479px) {
    .myworks .nav {
        display: block;
        text-align: center;
    }
    .hover {
        display: none;
    }
     .myworks .nav a:hover {
          background: #ff9800 !important;
       border-radius: 10px;
       color: #fff;
     }
    .images__section--item {
            float: none !important;
        margin: 10px auto;
        text-align: center;
        max-width: 80%;
    }
    .images__section {
        float:none !important;
        text-align: center;
    }
    .list-inline>li {
            padding-right: 10px;
    padding-left: 27px;
    }
    .toch__item--email, .toch__item--text, .toch__item--textarea {
        width: 93%;
    }
    .stext__head {
        font-size: 1em;
    }
    .stext__button {
        height: auto;
        margin-bottom: 10px;
    }
   .menuSection {
        float: none;
        text-align: center;
        margin: 85px auto 0;
        width: 100%;
   }
   .menuSection .nav {
       display: block !important;
   }
   .nav__list--item:hover {
       background: #ff9800;
       border-radius: 10px;
       color: #fff;
   }
   .navbar-nav>li>a:hover{
       color: #fff;
   }
   .logo__item {
       text-align: center;
       margin: 15px auto;
       display: block;
   }
   .logo {
       width: 100%;
   }
   .item {
       margin: 0 auto;
       width: 100%;
   }
   .aboutusbox__head {
       text-indent: 0px;
   }
   .aboutus {
       margin: 10px auto;
       text-align: center;
   }
   .aboutusbox__head {
       float: none !important;
   }
   .aboutusbox__icon{
       float: none !important;
   }
   .slidersection {
       height: auto;
   }
   .hover {
           height: 11%;
   }
   .images__section:hover .hover {
           width: 97%;
   }
   .morebutton {
       margin: 25px auto 10px;
   }
}
/* PORTRAIT
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)   {
   
}
/* LANDSCAPE
========================================================================== */
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)   {
   
}