/*imports*/
@import '../sass/helpers/__reset.scss'; 
@import '../sass/helpers/__functions.scss'; 
@import '../sass/helpers/__typography.scss'; 
@import '../sass/helpers/__mixins.scss'; 
@import '../sass/helpers/__wrapper.scss'; 
@import '../sass/components/__fonts.scss'; 
@import '../sass/components/__buttons.scss'; 
@import '../sass/helpers/__colors.scss'; 
/**/
body {
	background: url('../img/pageBg.jpg') center center no-repeat;
	background-size: cover;
}
/**/
.logo {
	&__item{
		margin: 20px 0 20px 0;
	}
}
.nav {
	margin: 16px 0 16px 0;
	&__list{
		&--item {
			a{
				@include topMenu;
				&:hover {
					color:$slideTextColor;
				}
			}
		}
	}
}
/**/
/**/
.slidersection {
	background: url('../img/sliderImg.jpg') center center no-repeat;
	background-size: cover;
	height: 629px;
}
.stext {
	&__head {
		@include sliderMainHead;
		span{
			color: $slideTextColor;
		}
	}
	&__text {
		@include smallTextSlider;
	}
	&__button{
		@include buttonSlider;
		&:hover {
			background: $slideTextColor;
			color: $topFontColor;
			border:1px solid $slideTextColor;
		}
	}
}
.item {
	width: 30%;
	margin: 200px auto;
	text-align: center;
}
/**/
/**/
.aboutus {
	margin: 150px auto 150px auto; 
}
.aboutusbox {
	&__icon {
		font-size: em($font-size-fifty_pixels);
		color:#fff;
		font-weight: 400;
	}
	&__head {
		@include aboutTextHead;
		text-indent: 280px;
    	margin: 0;
		cursor: pointer;
		&:hover {
			color: $slideTextColor;
		}
	}
	&__text{
		@include aboutText;
	}
}
/**/
/**/
.works {
	&__header{
		@include aboutTextHead;
	}
}
.nav {
	float: none !important;
	display: flex;
	justify-content: center;
	&__item {
		a{
			@include mywayList;
			&:hover {
				color:$slideTextColor;
				background: none !important;
			}
		}
	}
}
.images {
	&__section{
		cursor:pointer;
		&--item {
			margin: 15px 10px auto auto;
		}
		&:hover .hover{
			 width: 32%;
		}
	}
}
.hover {
		@include hover;
		cursor:pointer;
	&__border {
		@include hoverTextBg;
	}
	.fa-search {
		font-size: em($font-size-thirty_pixels);
	}
}
.morebutton {
	@include morebutton;
	margin: 25px auto 97px auto;
	&:hover {
		background: $slideTextColor !important;
		color: #fff;
	}
}
/**/
/**/
.toch {
	&__header {
		@include aboutTextHead;
		text-align: center;
	}
	&__form {
		margin: 0 auto;
		text-align: center;
		display: block;
	}
	&__item {
		&--text {
			width: 65%;
			height: 60px;
			background: $filesColors;
			@include filed;
			border:2px solid $slideTextColor;
		}
		&--email {
			width: 65%;
			height: 60px;
			background: $filesColors;
			@include filed;
		}
		&--textarea {
			width: 65%;
			height: 241px;
			@include filed;
			line-height: 45px;
			background: $filesColors;
		}
		&--send {
			@include morebutton;
		}
	}
}
input[type=text]:focus {
  border:3px solid $slideTextColor;
}
input[type=email]:focus {
  border:3px solid $slideTextColor;
}
.toch__item--textarea:focus {
  border:4px solid $slideTextColor;
}
#textarea_feedback {
	position: absolute;
    left: 0px;
    right: 0px;
    top: 420px;
	@include filed;
}
/**/
/**/
.follow {
	&__head {
		@include aboutTextHead;
		text-align: center;
	}
	&__list {
		text-align: center;
		&--item{
			a{
				font-size:em($font-size-thirty_pixels);
				color: #a2a2a2;
				text-decoration: none;
				&:hover {
					color: $topFontColor;
				}
			}
		}
	}
}
/**/
/***/
footer {
	background: #0c0c0c;
	margin: 15px 0 0 0;
	padding: 20px 0 21px 0;
}
.madeBy {
	@include footertext;
}
/***/
/**/
.error {
	border:2px solid red;
}
/**/
