@mixin buttonSlider {
    width: 133px;
    height: 51px;
    background: $slideTextColor;
    font: $normal-weight em($font-size-twenty_pixels) 'Open Sans', sans-serif;
    color: $topFontColor;
    border:1px solid $slideTextColor;
}
@mixin morebutton {
    width: 105px;
    height: 41px;
     background: $slideTextColor;
    font: $normal-weight em($font-size-twenty_pixels) 'Open Sans', sans-serif;
    color: $topFontColor;
    border:1px solid $slideTextColor;
}