@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin topMenu {
  font: $normal-weight em($font-size-fifteen_pixels) 'Open Sans', sans-serif;
  color:$topFontColor;
  background: none !important;
}
@mixin sliderMainHead {
  font: $bold-weight em($font-size-thirtyfive_pixels) 'Open Sans', sans-serif;
  color:$topFontColor;
}
@mixin smallTextSlider {
  font: $normal-weight em($font-size-fifteen_pixels) 'Open Sans', sans-serif;
  color:$topFontColor;
}
@mixin aboutTextHead{
  font:  $bold-weight em($font-size-twentyfive_pixels) 'Open Sans', sans-serif;
  color:$topFontColor;
 
}
@mixin aboutText{
  font: $normal-weight em($font-size-sixteen_pixels) 'Open Sans', sans-serif;
  color:$topFontColor;
  line-height: 30px;
}
@mixin mywayList {
  font: $normal-weight em($font-size-eighteen_pixels) 'Open Sans', sans-serif;
  color:$topFontColor;
}
@mixin footertext {
  font: $normal-weight em($font-size-twelve_pixels) 'Open Sans', sans-serif;
  margin: 0 auto;
	text-align: center;
	display: block;
}
@mixin filed {
  font: $normal-weight em($font-size-twenty_pixels) 'Open Sans', sans-serif;
  color: $filedFontColor;
  text-indent: 10px;
}
@mixin hover {
  	position: absolute;
    top: 15px;
    color: #fff;
    text-align: center;
    padding-top: 68px;
    line-height: 30px;
    height: 32%;
    width: 0%;
    background: rgba(0,0,0,.7);
    overflow: hidden;
}
@mixin hoverTextBg {
  	border:2px solid $slideTextColor;
		width: 90%;
    margin: 0 auto;
    padding: 20px;
}